.text-center {
    text-align: center;
}
.top-button{
    display: block;
    position: absolute;
    width:30px;
    height:30px;
    top: -10px;
    right: -2px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.green {
    color:#2ca02c;
    font-weight: bold;
}

.red {
    color:#F50D1F;
    font-weight: bold;
}
.white {
    color:#ffffff;
    font-weight: bold;
}

.alert {
    margin-top:10px;
}
.pbottom10 {
    padding-bottom: 10px;
}
.pbottom20 {
    padding-bottom: 20px;
}
.mTop10 {
    margin-top: 10px;
}

.navbar-header {
    height:110px;
    background-image: url(../images/top-bg.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #7295B8;

}

@media (min-width: 768px) {
    .sidebar {
        top: 110px;
    }
}

body {
    background-color: #A7BDD4;
}

.f18 {
    font-size:18px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
}

.table th {
    background-color: #658BB2;
    height: 24px;
    font-weight: bold;
    color: #EBEBEB;
    padding: 0px 0px 0px 5px;
}

.info-row {
    margin-top:10px;
    margin-bottom:10px;
}

.text-rtl {
    direction: rtl;
}
.bg-gray {
    background-color: #EAF2F3;
}