.subject-icon {
    font-size: 250px;
}

#footer {
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;
    background-color:#ffffff;
    color: #ffffff;

}
#footer h4 {
    color: #ffffff;
    font-weight: 700;
}

.newsletter input[type="email"] {
    background: rgba(125, 94, 94, 0.15);
    padding-right: 100px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    color: #10373E !important ;
}

.newsletter input[type="email"]:focus {
    background: rgba(136, 125, 125, 0.2);
}
#page-title {
    background-image: url(/images/breadcrumb.png);
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-position: center;
    display: table;
    position: relative;
    width: 100%;
}

.vertical-center{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: static;
}
.navbar-collapse {
    border-bottom: 0;
}

.owl-carousel .item .text-overlay {
    background-color: rgba(26, 187, 156, 0.6);
    font-weight: bold;
}

.text-rtl {
    direction: rtl;
}
.message {
    display: block;
}

.inner-top-md {
    padding-top: 50px;
}

.inner {
    padding-top:60px;
    padding-bottom: 60px;
}

.form-control {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*background-color: #f5f5f5;*/
    border: 1px solid #999999;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
}

.hint {
    color:#0a5a90;
    margin-top: -10px;
}

.profile-nav{
    line-height: 55px;
}

.navbar .profile-nav li a {
    line-height: 10px;
    padding: 5px;
    color: #73879C;
    white-space: normal;
}

.modal-content {
    height:350px;
}

