@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
body {
	background:url(images/top-bg.jpg) left top repeat-x;	
	font-family: 'Lato', sans-serif;
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('fonts/myriadpro-bold-webfont.eot');
    src: url('fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('fonts/myriadpro-bold-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;    font-style: normal;
}
* {
	margin:0px;
	padding:0px;
	border:0px;	
	text-decoration:none;
	outline:none;
}
.clear {
	clear:both;	
}
.container {
	width:1002px;
	height:auto;
	margin:0 auto;	
}
#header {
	width:1002px;
	height:141px;	
}
.logo {
	float:left;
	margin-top:29px;	
}
.topRight {
	float:right;
	padding-top:90px;	
	font-weight:700;
	color:#032b62;
	font-size:19.19px;
}
#menu {
	width:1002px;
	height:50px;
	background:#fff;
	border-radius:5px;	
	-webkit-border-radius:5px;	
}
#menu ul {
	list-style:none;	
}
#menu ul li {
	list-style:none;	
	float:left;
	padding:0 13px 0 13px;
}
#menu ul li a {
	display:block;
	line-height:50px;
	padding:0 10px;
	color:#333;
	font-size:17px;
	font-weight:700;
	text-decoration:none;
}
#menu ul li:hover a, #menu ul li.active a {
	background:#f2f1ee;
	border-bottom:3px solid #dc5353;
	height:47px;
}
#menu ul li.submenu {
	background:url(images/caret.png) right center no-repeat;
	position:relative;
}
#menu ul li.submenu ul {
	display:none;
	position:absolute;
	left:13px;
	top:50px;
	background:#fff;
	z-index:100000;
}
#menu ul li.submenu ul li {
	float:none;
	display:block;
	min-width:150px;
}
#menu ul li.submenu:hover ul li a {
	background:none;
	border:0px;
	height:auto;
}
#menu ul li.submenu ul li:hover {
	background:#f2f1ee;
	border:0px;
	height:auto;
}
#menu ul li.submenu:hover ul {
	display:block;
}
#banner {
	width:1002px;
	height:358px;
	padding-top:16px;	
}
.bannerLeft {
	width:231px;
	height:304px;
	padding:10px 25px;
	float:left;
	background:#fff;	
	border-radius:5px;	
	-webkit-border-radius:5px;	
}
.redButton {
	color: #ffffff;
	background-color: #dd5555;
	border-color: #d43f3a;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 0px 35px;
	font-size: 20px;
	font-weight:900;
	border-radius: 4px;
	line-height:40px;
	text-decoration:none;
}
.redButton:hover {
	background:#c63636;
}
.bannerLeft p {
	font-size:18px;
	line-height:27px;
}
.bannerLeft .redButton{
	margin:10px 0 10px 20px;	
}
a.read {
	font-size: 16px;
	font-weight:900;
	font-style:italic;
	color: #dd5555;
	float:right;
}
a.read:hover {
	color:#c63636;
}
.bannerRight {
	width:708px;
	height:357px;
	float:right;
	background:url(images/shadow.png) center 323px no-repeat;
}
#slider {
	z-index:100;
	padding:4px;
	background:#fff;
	width:698px;
	height:315px;
	text-align:center;
}
.slides_container {
	width:698px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slides_container a {
	width:698px;
	height:315px;
	display:block;
}
.slides_container a img {
	display:block;
}
#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}
#slides .next {
	left:585px;
}
.pagination {
	margin:16px auto 0;
	display:inline-block;
}
.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}
.pagination li a {
	display:block;
	width:15px;
	height:0;
	padding-top:16px;
	background-image:url(images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -16px;
}
.contentWrap {
	width:100%;
	height:auto;
	padding:20px 0 0 0;
	background:url(images/bg1.jpg) left top repeat;	
}
h1 {
	font-size:57.17px;
	text-align:center;
	color:#333a40;
	font-weight:700;
	text-shadow:1px 1px 1px #bee174;	
	padding:5px 0;
}
h2 {
	font-size:49px;
	text-align:center;
	color:#9d1c1c;
	font-weight:normal;
	text-shadow:1px 1px 1px #bee174;	
    font-family: 'MyriadProBold';
	padding:5px 0 5px 0;
}
.box {
	width:320px;
	height:auto;
	float:left;
	margin:23px 20px 0px 0;	
}
.box img {
	box-shadow:0px 1px 5px #333;	
	-webit-box-shadow:0px 1px 5px #333;	
}
.title1 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#d55e52;
}
.title2 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#d89809;
}
.title3 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#3175c1;
}
.title4 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#9c5e11;
}
.title5 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#10ad98;
}
.title6 {
	font-size:26.71px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	background:#f18414;
}
.contentWrap2 {
	width:100%;
	height:auto;
	padding:20px 0 0 0;
	background:url(images/bg2.jpg) left top repeat;	
	box-shadow:1px 3px 5px #666666 inset;	
}
h3 {
	font-size:38.5px;
	line-height:41px;
	text-align:center;
	color:#000;
	font-weight:normal;
	text-shadow:1px 1px 1px #fff;	
    font-family: 'MyriadProBold';
	padding:10px 0 20px 0;
}
a.button1 {
	font-size:22.44px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	padding-bottom:5px;
	background:#e47c11;
	width:213px;
	display:inline-block;
	margin-top:25px;
}
a.button2 {
	font-size:22.44px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	padding-bottom:5px;
	background:#10ae98;
	width:213px;
	display:inline-block;
	margin-left:177px;
	margin-top:25px;
}
a.button3 {
	font-size:22.44px;	
	font-weight:700;
	color:#fff;
	text-align:center;
	line-height:50px;
	padding-bottom:5px;
	background:#3074bf;
	width:213px;
	display:inline-block;
	margin-left:177px;
	margin-top:25px;
}
#footerWrap {
	width:100%;
	height:auto;
	background:#333a40;
	padding:25px 0 0 0;
}
.footerbox1 {
	width:250px;
	float:left;	
	padding-top:20px;
}
.footerbox2 {
	width:289px;
	float:left;	
}
#footerWrap .title {
	font-size:18.21px;
	color:#fff;
	font-weight:700;
	padding-bottom:20px;
}
#footerWrap p {
	font-size:16.28px;
	color:#8f8f8f;
	font-weight:700;
	padding:0px 0 20px 0;
}
#footerWrap a {
	font-size:17px;
	color:#8f8f8f;
	font-weight:700;
	display:block;
}
#footerWrap a:hover {
	color:#fff;	
}
.footerbox3 {
	width:166px;
	float:left;	
}
.footerbox4 {
	width:297px;
	float:left;	
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom:10px;
  font-size: 16.28px;
  font-weight:700;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 0.5;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.blueButton {
	color: #ffffff;
	background-color: #3074bf;
	border-color: #3074bf;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 0px 35px;
	font-size: 20px;
	font-weight:900;
	border-radius: 4px;
	height:42px;
	text-decoration:none;
	cursor:pointer;
	margin:12px 0 0 181px;
}
.blueButton:hover {
	background:#195ca5;
}
.copyright {
	width:100%;
	border-top:3px solid #3c444b;
	line-height:55px;
	text-align:center;
	font-size:15px;
	color:#8f8f8f;
	margin-top:20px;
}
#leftWrap {
	width:662px;
	height:auto;
	float:left;	
}
#rightWrap {
	width:290px;
	height:auto;
	float:right;
	padding-top:58px;	
}
h2.blockhead {
	font-size:20px;
	text-align:center;
	color:#fff;
	background:#292e35;
	font-weight:normal;
	line-height:40px;
	padding: 0 20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	text-shadow:none;
	display:inline-block;
	text-transform:uppercase;
}
.blockpara {
	padding:10px 20px;
	background:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #DDD;
	margin:15px 0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
.blockpara p {
	font-size:18px;
	color:#8f8f8f;
	padding-bottom:10px;
	line-height:27px;
}
h4 {
	font-size:30.13px;
	line-height:41px;
	color:#000;
	font-weight:normal;
	text-shadow:1px 1px 1px #fff;	
    font-family: 'MyriadProBold';
	padding:10px 0 20px 0;
	display:inline-block;
}
.button5 {
	color: #ffffff;
	background-color: #f96464;
	border-color: #d43f3a;
	display: inline-block;
	text-align: center;
	border: 1px solid transparent;
	padding: 0px 35px;
	font-size:30.13px;
	font-weight:900;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height:49px;
	text-decoration:none;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
	float:right;
}
.button5:hover {
	background:#e44747;
}
.button6 {
	color: #ffffff;
	background-color: #f96464;
	border-color: #d43f3a;
	text-align: center;
	display:block;
	border: 1px solid transparent;
	padding: 0px 0px;
	font-size:32.58px;
	font-weight:900;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height:72px;
	text-decoration:none;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
}
.button6:hover {
	background:#d63c3c;
}
.ads {
	color: #ffffff;
	background-color: #a64167;
	text-align: center;
	font-size:32.58px;
	height:387px;
	line-height:387px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 1);
	vertical-align:middle;
	margin-top:32px;
}
.testiBox {
	width:280px;
	height:188px;	
	padding:15px 20px;
	background:#fff;
	box-shadow:0px 1px 5px #333;	
	-webkit-box-shadow:0px 1px 5px #333;
	position:relative;
	z-index:1000;
	font-size:17.4px;
	font-weight:700;	
}